<button type="button" class="btn btn-primary" *ngIf="!newPost" (click)="newBlogForm()">New Post</button>
<button type="button" class="btn btn-info" [disabled]="loadingBlogs" (click)="reloadBlogs()">Reload</button>

<br>
<br>

<div *ngIf="message" [ngClass]="messageClass">
  {{message}}
</div>

<form [formGroup]="form" name="blogForm" (submit)="onsubmit()" *ngIf="newPost" novalidate>
  <div class="form-group">
    <label>Blog title</label>
    <input type="text" class="form-control" name="title" placeholder="*Blog title" autocomplete="off"
           formControlName="title"
           [ngClass]="{'is-invalid': (form.controls.title.errors && form.controls.title.dirty), 'is-valid': (!form.controls.title.errors)}">
    <div class="invalid-feedback" *ngIf="form.controls.title.errors?.required && form.controls.title.dirty">
      Title is required
    </div>
    <div class="invalid-feedback"
         *ngIf="form.controls.title.errors?.minlength || form.controls.title.errors?.maxlength && form.controls.title.dirty">
      Title must be at least 5 characters but no more than 100
    </div>
    <div class="invalid-feedback" *ngIf="form.controls.title.errors?.validateTitle && form.controls.title.dirty">
      Title is invalid
    </div>
  </div>
  <div class="form-group">
    <label>Blog body</label>
    <textarea type="text" rows="8" cols="80" class="form-control" name="body" placeholder="*Blog body"
              autocomplete="off"
              formControlName="body"
              [ngClass]="{'is-invalid': (form.controls.body.errors && form.controls.body.dirty), 'is-valid': (!form.controls.body.errors)}"></textarea>
    <div class="invalid-feedback" *ngIf="form.controls.body.errors?.required && form.controls.body.dirty">
      Body text is required
    </div>
    <div class="invalid-feedback"
         *ngIf="form.controls.body.errors?.minlength || form.controls.body.errors?.maxlength && form.controls.body.dirty">
      Body text must be at least 5 characters but no more than 500
    </div>
  </div>

  <button [disabled]="processing" type="button" class="btn btn-primary" (click)="goBack()">Go back</button>
  <button [disabled]="processing || !form.valid" type="submit" class="btn btn-info">Create Blog</button>
</form>

<div *ngIf="!newPost">
  <div class="card" *ngFor="let blog of blogs;" [@heroState]="state" (click)="toggleState()">
    <div class="card-header">
      <h2>{{blog.title}}</h2>
    </div>
    <div class="card-body">
      <p class="card-text">{{blog.body}}</p>

      <div class="divider"></div>
      <p *ngIf="blog.createdBy"><strong>Posted By:</strong> {{blog.createdBy}}</p>
      <p *ngIf="blog.createdAt"><strong>Date:</strong> {{blog.createdAt | date: 'dd-MMM-yyyy hh:mm a'}}</p>
      <p *ngIf="blog.likes"><strong>Likes:</strong> {{blog.likes}}</p>
      <p *ngIf="blog.dislikes"><strong>Dislikes:</strong> {{blog.dislikes}}</p>
    </div>
    <div class="card-footer">
      <a [routerLink]="['/edit-blog/', blog._id]" class="btn btn-info" *ngIf="username===blog.createdBy">Edit</a>
      <a [routerLink]="['/delete-blog/', blog._id]" class="btn btn-danger" *ngIf="username===blog.createdBy">Delete</a>

      <span class="dropdown" *ngIf="username !== blog.createdBy">
      <button [disabled]="blog.likedBy.indexOf(username) > -1" class="btn btn-primary dropdown-toggle" type="button"
              data-toggle="dropdown" (click)="likeBlog(blog._id)">
        Likes {{blog.likes}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a [routerLink]="['/publicProfile/', likedBy]" class="dropdown-item" *ngFor="let likedBy of blog.likedBy">{{likedBy}}</a>
      </div>
    </span>


      <span class="dropdown" *ngIf="username !== blog.createdBy">
      <button [disabled]="blog.dislikedBy.indexOf(username) > -1" class="btn btn-primary dropdown-toggle" type="button"
              data-toggle="dropdown"
              (click)="dislikeBlog(blog._id)">
        Dislikes {{blog.dislikes}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a [routerLink]="['/publicProfile/', dislikedBy]" class="dropdown-item"
           *ngFor="let dislikedBy of blog.dislikedBy">{{dislikedBy}}</a>
      </div>
    </span>

    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" class="btn btn-warning" (click)="draftComment(blog._id)"
                [disabled]="newComment.indexOf(blog._id) > -1">Comments
        </button>
        <div *ngIf="newComment.indexOf(blog._id) > -1">
          <form [formGroup]="commentForm" novalidate name="commentForm" (submit)="postComment(blog._id)">
            <br>
            <div class="form-group">
          <textarea class="form-control" name="comment" id="comment" cols="10" rows="8" autocomplete="off"
                    formControlName="comment"
                    [ngClass]="{'is-invalid': (commentForm.controls.comment.errors && commentForm.controls.comment.dirty), 'is-valid': (!commentForm.controls.comment.errors)}"></textarea>

              <div class="invalid-feedback"
                   *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">
                Comment required
              </div>
              <div class="invalid-feedback"
                   *ngIf="commentForm.controls.comment.errors?.minlength || commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty">
                Comment must be at least 1 characters but no more than 200
              </div>

            </div>
            <br>
            <button type="submit" [disabled]="!commentForm.valid" class="btn btn-info" >Post comment</button>
            <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
          </form>
        </div>
      </li>

      <li class="list-group-item" *ngIf="enableComment.indexOf(blog._id) === -1 && blog.comments.length > 0" (click)="expand(blog._id)">Show comment</li>

      <li class="list-group-item" *ngIf="enableComment.indexOf(blog._id) > -1 && blog.comments.length > 0" (click)="collapse(blog._id)">Hide comment</li>


      <ng-container *ngIf="blog.comments.length > 0 && enableComment.indexOf(blog._id) > -1">
      <li class="list-group-item" *ngFor="let comment of blog.comments;">
        <strong>{{comment.commentator}} : </strong> {{comment.comment}}
      </li>
      </ng-container>
    </ul>
  </div>
</div>
