<button type="button" class="btn btn-primary" *ngIf="!newPost" (click)="newBlogForm()">New Post</button>
<button type="button" class="btn btn-info" [disabled]="loadingBlogs" (click)="reloadBlogs()">Reload</button>

<br>
<br>

<div *ngIf="message" [ngClass]="messageClass">
  {{message}}
</div>

<form [formGroup]="form" name="blogForm" (submit)="onsubmit()" *ngIf="newPost" novalidate>
  <div class="form-group">
    <label>Blog title</label>
    <input type="text" class="form-control" name="title" placeholder="*Blog title" autocomplete="off"
           formControlName="title"
           [ngClass]="{'is-invalid': (form.controls.title.errors && form.controls.title.dirty), 'is-valid': (!form.controls.title.errors)}">
    <div class="invalid-feedback" *ngIf="form.controls.title.errors?.required && form.controls.title.dirty">
      Title is required
    </div>
    <div class="invalid-feedback"
         *ngIf="form.controls.title.errors?.minlength || form.controls.title.errors?.maxlength && form.controls.title.dirty">
      Title must be at least 5 characters but no more than 100
    </div>
    <div class="invalid-feedback" *ngIf="form.controls.title.errors?.validateTitle && form.controls.title.dirty">
      Title is invalid
    </div>
  </div>
  <div class="form-group">
    <label>Blog body</label>
    <textarea type="text" rows="8" cols="80" class="form-control" name="body" placeholder="*Blog body"
              autocomplete="off"
              formControlName="body"
              [ngClass]="{'is-invalid': (form.controls.body.errors && form.controls.body.dirty), 'is-valid': (!form.controls.body.errors)}"></textarea>
    <div class="invalid-feedback" *ngIf="form.controls.body.errors?.required && form.controls.body.dirty">
      Body text is required
    </div>
    <div class="invalid-feedback"
         *ngIf="form.controls.body.errors?.minlength || form.controls.body.errors?.maxlength && form.controls.body.dirty">
      Body text must be at least 5 characters but no more than 500
    </div>
  </div>

  <button [disabled]="processing" type="button" class="btn btn-primary" (click)="goBack()">Go back</button>
  <button [disabled]="processing || !form.valid" type="submit" class="btn btn-info">Create Blog</button>
</form>

<div *ngIf="!newPost">
  <div class="card" *ngFor="let blog of blogs;">
    <div class="card-header">
      <h2>{{blog.title}}</h2>
    </div>
    <div class="card-body">
      <p class="card-text">{{blog.body}}</p>

      <div class="divider"></div>
      <p *ngIf="blog.createdBy"><strong>Posted By:</strong> {{blog.createdBy}}</p>
      <p *ngIf="blog.createdAt"><strong>Date:</strong> {{blog.createdAt | date: 'dd-MMM-yyyy hh:mm a'}}</p>
      <p *ngIf="blog.likes"><strong>Likes:</strong> {{blog.likes}}</p>
      <p *ngIf="blog.dislikes"><strong>Dislikes:</strong> {{blog.dislikes}}</p>
    </div>
    <div class="card-footer">
      <a [routerLink]="['/edit-blog/', blog._id]" class="btn btn-info" *ngIf="username===blog.createdBy">Edit</a>
      <a [routerLink]="['/delete-blog/', blog._id]" class="btn btn-danger" *ngIf="username===blog.createdBy">Delete</a>

      <span class="dropdown" *ngIf="username !== blog.createdBy">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Likes
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </span>


      <span class="dropdown" *ngIf="username !== blog.createdBy">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Dislikes
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </span>

    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" class="btn btn-warning">Post comment</button>

        <!--<form >
          <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          <button type="submit" class="btn btn-info">Post comment</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </form>-->
      </li>
    </ul>
  </div>
</div>
