<h1>Edit blog</h1>

<div *ngIf="!blog" [ngClass]="messageClass">
  {{message}}
</div>

<form name="editBlog" (submit)="editBlog()" novalidate *ngIf="blog">
  <div class="form-group">
    <label>Blog title</label>
    <input [disabled]="processing" type="text" class="form-control" name="title" placeholder="*Blog title" autocomplete="off"
    [(ngModel)]="blog.title">
  </div>
  <div class="form-group">
    <label>Blog body</label>
    <textarea [disabled]="processing" type="text" rows="8" cols="80" class="form-control" name="body" placeholder="*Blog body"
    [(ngModel)]="blog.body"></textarea>
  </div>

  <button [disabled]="processing" type="button" class="btn btn-info" (click)="goBack()">Go back</button>
  <button type="button" class="btn btn-danger" (click)="deleteBlog()">Delete blog</button>
  <button [disabled]="processing" type="submit" class="btn btn-primary">Update blog</button>
</form>
