<h1>Login forms</h1>


<div class="row">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>

<form [formGroup]="form" (submit)="onLoginSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" placeholder="*username" id="username"
           formControlName="username"
           [ngClass]="{'is-invalid': (form.controls.username.errors && form.controls.username.dirty), 'is-valid': (!form.controls.username.errors)}">
    <div class="invalid-feedback" *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">
      Username is required
    </div>
    <div class="invalid-feedback" *ngIf="form.controls.username.errors?.minlength || form.controls.username.errors?.maxlength && form.controls.username.dirty">
      Username must be at least 5 characters but no more than 30
    </div>
    <div class="invalid-feedback" *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">
      Username is invalid
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" id="password"
           formControlName="password"
           [ngClass]="{'is-invalid': (form.controls.password.errors && form.controls.password.dirty), 'is-valid': (!form.controls.password.errors)}">
    <div class="invalid-feedback" *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">
      Password is required
    </div>
    <div class="invalid-feedback" *ngIf="form.controls.password.errors?.minlength || form.controls.password.errors?.maxlength && form.controls.password.dirty">
      Password must be at least 6 characters but no more than 30
    </div>
    <div class="invalid-feedback" *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">
      Password is invalid
    </div>
  </div>
  <button [disabled]="!form.valid || processing" type="submit" class="btn btn-primary">Submit</button>
</form>

